body {
background-image: url("fondo3.jpg");


}

h1 {
    font-size: 50px;
    background-size: 100%;
    background-image: url("fondito1.jpg");
    color: black;
    text-align: center;
 border-style: solid;
    border-width: 10px;
    border-color: pink;
    border-radius: 150px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;

    padding: 50px 25px 50px 25px;
}
  
p.uno {
     font-size: 20px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(235, 113, 113);
    border-style: solid;
    border-width: medium;
    border-color: pink;
    border-radius: 150px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;

    padding: 50px 25px 50px 25px;

}
  
p.dos {
     font-size: 50px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(235, 113, 113);
   border-style: solid;
    border-width: medium;
    border-color:pink;
    border-radius: 150px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;

    padding: 50px 25px 50px 25px;
} 
